<section class="banners">
    <div class="banner-carrosel mySlides fade" id="banner-1">
        <a onclick="plusSlides(-1)">
            <img src="/images/home/flecha-esquerda-banner.svg" alt="Flecha esquerda carrosel">
        </a>
        <a onclick="plusSlides(1)">
            <img src="/images/home/flecha-direita-banner.svg" alt="Flecha direita carrosel">
        </a>
    </div>
    <div class="banner-carrosel mySlides fade" id="banner-2">
        <a onclick="plusSlides(-1)">
            <img src="/images/home/flecha-esquerda-banner.svg" alt="Flecha esquerda carrosel">
        </a>
        <a onclick="plusSlides(1)">
            <img src="/images/home/flecha-direita-banner.svg" alt="Flecha direita carrosel">
        </a>
    </div>
    <div class="banner-carrosel mySlides fade" id="banner-3">
        <a onclick="plusSlides(-1)">
            <img src="/images/home/flecha-esquerda-banner.svg" alt="Flecha esquerda carrosel">
        </a>
        <a onclick="plusSlides(1)">
            <img src="/images/home/flecha-direita-banner.svg" alt="Flecha direita carrosel">
        </a>
    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
      </div>
</section>