<section class="cards-infos">
    <div class="box-card">
        <img src="/images/home/icone-relogio.svg" alt="Ícone relógio do card receba em horas na home">
        <span>Receba em Horas</span>
    </div>
    <div class="box-card">
        <img src="/images/home/icone-frete-gratis.svg" alt="Ícone caminhão do card frete grátis na home">
        <span>Frete Grátis Brasil</span>
    </div>
    <div class="box-card">
        <img src="/images/home/icone-cartao.svg" alt="Ícone cartão do card 3x sem juros">
        <span>Até 3x Sem Juros</span>
    </div>
    <div class="box-card">
        <img src="/images/home/icone-frete-gratis.svg" alt="Ícone patinha de cachorro do card 10% off para vips">
        <span>10% Off para Vips</span>
    </div>
</section>
