<footer>
    <section class="footer-mobile">
        <a href="/">
            <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
        </a>
        <div class="contacts column">
            <h4 class="text bold">Central de atendimento</h4>
            <span>(xx) x xxxx-xxxx</span>
            <span>contato@digitalpet.com</span>
            <span>Segunda a Sábado das 10h-17h</span>
        </div>
        <div class="page-about">
            <a href="/contato-sobre-nos">
                <span>Sobre nós</span>
            </a>
            <a href="/contato-sobre-nos">
                <span>Contato</span>
            </a>
        </div>

        <div class="column social-media-box">
            <h4 class="text bold">Redes sociais</h4>
            <div class="row">
                <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
            </div>
        </div>

        <div class="box-payment column">
            <h4 class="text bold">Formas de pagamento</h4>
            <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
            <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
        </div>

        
        <div class="box-security column align-center">
            <h4 class="text bold">Segurança</h4>
            <div class="row security-imgs">
                <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
            </div>
        </div>

        <div class="column">
            <span>Digital Pet Comércio de Produtos para Animais S.A</span>
            <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
            <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
        </div>
    </section>



    <section class="footer-desktop">
        <div class="row">
            <div class="column left-infos-footer">
                <a href="/">
                    <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
                </a>
                <div class="contacts column">
                    <h4 class="text bold">Central de atendimento</h4>
                    <span>(xx) x xxxx-xxxx</span>
                    <span>contato@digitalpet.com</span>
                    <span>Segunda a Sábado das 10h-17h</span>
                </div>
                <div class="column left">
                    <span>Digital Pet Comércio de Produtos para Animais S.A</span>
                    <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
                    <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
                </div>
            </div>

            <div class="page-about">
                <a href="/contato-sobre-nos">
                    <span>Sobre nós</span>
                </a>
                <a href="/contato-sobre-nos">
                    <span>Contato</span>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="column desktop-security-pay">
                <div class="box-payment column">
                    <h4 class="text bold">Formas de pagamento</h4>
                    <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
                    <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
                </div>
    
                
                <div class="box-security column">
                    <h4 class="text bold">Segurança</h4>
                    <div class="row security-imgs">
                        <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                        <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
                    </div>
                </div>
            </div>

            <div class="column">
                <h4 class="text bold">Redes sociais</h4>
                <div class="row">
                    <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                    <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                    <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
                </div>
            </div>
        </div>

    </section>
</footer>