<header>
    <div class="shipping">
        <span>Frete grátis para todo o Brasil</span>
    </div>
    <section class="header-mobile">
        <div class="row box-logo-mobile">
            <a onclick="toggleMenu()">
                <img src="/images/header/burguer-menu.svg" alt="Burguer menu">
            </a>
            <a href="/">
                <img src="/images/header/logo-mobile.svg" alt="Logo digital pet">
            </a>
            <a href="/produtos/carrinho">
                <img src="/images/header/icone-carrinho-mobile.svg" alt="Imagem carrinho">
            </a>
        </div>
    </section>
    <section class="header-desktop">
        <a href="/">
            <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
        </a>
        <div class="links-header-desktop">
            <% if(locals.user != "empty") { %>
                <a style="text-decoration: underline;" href="/usuario/minha-conta" class="menu-link">
                    <img src="/images/header/icone-pedidos.svg" alt="Ícone minha conta">
                    Minha conta
                </a>
            <% } else { %>
                <a style="text-decoration: underline;" href="/usuario/login" class="menu-link">
                    <img src="/images/header/icone-entrar-mobile.svg">
                    Entrar/Cadastrar
                </a>
            <% } %>
            <a style="text-decoration: underline;" href="/planos" class="menu-link">
                <img src="/images/header/icone-planos.svg">
                Planos DigitalPet
            </a>
            <a style="text-decoration: underline;" href="/produtos/carrinho" class="menu-link">
                <img src="/images/header/icone-carrinho-mobile.svg" alt="Imagem carrinho">
                Acessar carrinho
            </a>
        </div>
    </section>
</header>

    
