<section class="links-desktop">
    <a href="/lista-produtos">Cachorro</a>
    <a href="/lista-produtos">Gato</a>
    <a href="/lista-produtos">Outros pets</a>
    <a href="/lista-produtos">Marcas</a>
    <a href="/lista-produtos">Saúde</a>
    <a href="/lista-produtos">Outlet</a>
</section>