<div class="lista-links-mobile">
    <nav class="sidebar">
        <div class="items">
            <div class="topo-sidebar">
                <h3>Olá, Bem-Vindo (a) <%= locals.user != "empty" ? locals.user.name : null %></h3>
                <a onclick="toggleMenu()">
                    <img src="/images/header/icone-fechar-menu-mobile.svg" alt="Ícone fechar sidebar">
                </a>
            </div>
            <ul class="menu">
                <% if(locals.user != "empty") { %>
                    <li class="menu-item">
                        <a style="text-decoration: underline;" href="/usuario/minha-conta" class="menu-link">
                            <img src="/images/header/icone-meu-perfil.svg">
                            Minha Conta
                        </a>
                    </li>
                <% } else { %>
                    <li class="menu-item">
                        <a style="text-decoration: underline;" href="/usuario/login" class="menu-link">
                            <img src="/images/header/icone-entrar-mobile.svg">
                            Entrar/Cadastrar
                        </a>
                    </li>
                <% } %>

                <li class="menu-item">
                    <a style="text-decoration: underline;" href="/produtos/carrinho" class="menu-link">
                        <img src="/images/header/icone-carrinho-mobile.svg">
                        Carrinho
                    </a>
                </li>
                <li class="menu-item">
                    <a style="text-decoration: underline;" href="/planos" class="menu-link">
                        <img src="/images/header/icone-planos.svg">
                        Planos DigitalPet
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>