<section class="receive-news">
    <div class="title-receive-news">
        <img src="/images/others/email.svg" alt="Icone email para receber novidades">
        <span>Receba novidades e promoções</span>
    </div>
    <div class="input-receive-news">
        <input type="text" placeholder="Seu nome" id="news-nome">
        <input type="text" placeholder="Seu e-mail" id="news-email">
        <button type="button">Eu quero</button>
    </div>
</section>