<section class="receive-news">
    <div class="title-receive-news">
        <img src="/images/others/email.svg" alt="Icone email para receber novidades">
        <span>Receba novidades e promoções</span>
    </div>
    <form class="input-receive-news" method="post" action="/receber-promocoes">
        <input type="text" placeholder="Seu nome" name="name" id="name">
        <input type="email" placeholder="Seu e-mail" name="email" id="email">
        <input type="submit" value="Eu quero">
    </form>
</section>