<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/carrinho.css" rel="stylesheet" type="text/css">
    <title>Carrinho | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-login">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <section class="pedidos">
            <div class="row space">
                <span>Produtos (01)</span>
                <a href="/">Editar carrinho</a>
            </div>

            <div class="row detalhe-produto space">
                <img src="./../images/products/popular/product-1.svg" alt="Imagem do produto a comprar">
                <div class="column">
                    <strong>Ração Premier Pet Raças Específicas Shih Tzu Filhote</strong>
                    <span>1 unidade</span>
                </div>
                <strong>R$ 95,90</strong>
            </div>

            <div class="row space desconto">
                <input type="text" placeholder="Cupom de desconto">
                <button>Aplicar</button>
            </div>

            <div class="row space">
                <span>Subtotal</span>
                <span>R$ 95,90</span>
            </div>
            <div class="row space">
                <span>Frete</span>
                <span>--</span>
            </div>
            <div class="row space">
                <strong>Total</strong>
                <strong>R$ 95,90</strong>
            </div>
            <div class="box-btn">
                <button class="button-final">Finalizar compra</button>
            </div>
        </section>
    </main>
    <script src="/javascripts/carrinho.js"></script>
</body>
</html>