<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
    <title>Login | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-login">
            <a href="./home.ejs">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <div class="box-login-image">
            <div class="box-form-login">
                <form method="post" class="column">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                    <span id="errors-email"></span>
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha">
                    <span id="errors-password"></span>
                    <a class="link-forget">Esqueci minha senha</a>

                    <button type="submit">Entrar</button>
                    
                </form>
                
                <h3>Ou você pode escolher as opções abaixo:</h3>
                
                <div class="column buttons-login">
                    <button class="row">
                        <img src="./../images/login/icon-google.svg" alt="Icone Google Login">
                        <span>Entrar com o Google</span>
                    </button>

                    <button class="row">
                        <img src="./../images/login/icon-facebook.svg" alt="Icone Facebook Login">
                        <span>Entrar com o Facebook</span>
                    </button>
                </div>
                <div class="link-account row">
                    <a href="./register.ejs">Não tem uma conta? Crie uma agora</a>
                </div>

                
            </div>
            <img src="./../images/login/dogs.svg" alt="Imagem cachorros login">
        </div>
    </main>

    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/login.js"></script>
</body>
</html>