<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/pedidos.css" rel="stylesheet" type="text/css">
    <title>Pedidos | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-login">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <h1>Lista de pedidos:</h1>
        <div class="box-card column">
            <h3>Pedido: #4576</h3>

            <ul>
                <li>Data: 18/03/2022</li>
                <li>Status: Concluído</li>
                <li>Valor: R$ 40,00</li>
            </ul>
        </div>

        <div class="box-card column">
            <h3>Pedido: #4156</h3>

            <ul>
                <li>Data: 18/04/2022</li>
                <li>Status: Cancelado</li>
                <li>Valor: R$ 32,00</li>
            </ul>
        </div>
    </main>
    <script src="/javascripts/carrinho.js"></script>
</body>
</html>