<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/plans.css" rel="stylesheet" type="text/css">
    <title>Planos | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-mobile">
            <div class="row box-logo-mobile">
                <a onclick="toggleMenu()">
                    <img src="/images/header/burguer-menu.svg" alt="Burguer menu">
                </a>
                <a href="./home.ejs">
                    <img src="/images/header/logo-mobile.svg" alt="Logo digital pet">
                </a>
                                <a href="./carrinho.ejs">
                    <img src="/images/header/icone-carrinho-mobile.svg" alt="Imagem carrinho">
                </a>
            </div>
            <input type="text" placeholder="O que você precisa?">
        </section>
        <section class="header-desktop">
            <a href="./home.ejs">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
            <input type="text" placeholder="O que você precisa?">
            <div class="links-header-desktop">
                <a href="./account.ejs">
                    <img src="/images/header/icone-pedidos.svg" alt="Ícone minha conta">
                    Minha conta
                </a>
                <a href="./login.ejs">
                    Entrar | Cadastrar
                    <img src="/images/header/icone-entrar-desktop.svg" alt="Ícone entrar desktop">
                </a>
            </div>
        </section>
    </header>

    <main>
        <div class="lista-links-mobile">
            <nav class="sidebar">
                <div class="items">
                    <div class="topo-sidebar">
                        <h3>Olá, Bem-Vindo (a)</h3>
                        <a onclick="toggleMenu()">
                            <img src="/images/header/icone-fechar-menu-mobile.svg" alt="Ícone fechar sidebar">
                        </a>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="./login.ejs" class="menu-link">
                                <img src="/images/header/icone-entrar-mobile.svg">
                                Entrar/Cadastrar
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="./account.ejs" class="menu-link">
                                <img src="/images/header/icone-meu-perfil.svg">
                                Minha Conta
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="./carrinho.ejs" class="menu-link">
                                <img src="/images/header/icone-carrinho-mobile.svg">
                                Carrinho
                            </a>
                        </li>
                        <!--<li class="menu-item">
                            <a href="" class="menu-link">
                                <img src="/images/header/icone-seu-pet.svg">
                                Seu Pet
                            </a>
                        </li>-->
                        <li class="menu-item">
                            <a href="./plans.ejs" class="menu-link">
                                <img src="/images/header/icone-planos.svg">
                                Planos DigitalPet
                            </a>
                        </li>
                        <!--<li class="menu-item">
                            <a href="" class="menu-link">
                                <img src="/images/header/icone-atendimento.svg">
                                Atendimento
                            </a>
                        </li>-->
                    </ul>
                </div>
            </nav>
        </div>
        <section class="links-desktop">
            <a href="./products-list.ejs">Cachorro</a>
            <a href="./products-list.ejs">Gato</a>
            <a href="./products-list.ejs">Outros pets</a>
            <a href="./products-list.ejs">Marcas</a>
            <a href="./products-list.ejs">Saúde</a>
            <a href="./products-list.ejs">Outlet</a>
        </section>

        <section class="plans-cards column">
            <h1>Planos de assinatura</h1>
            
            <div class="container-cards column">
                <div class="box-card column">
                    <h3>Mensal<br>(1x de R$ 49,90)</h3>

                    <ul>
                        <li>Frete Grátis</li>
                        <li>Banho e tosa 1x ao mês</li>
                        <li>Atendimento DigitalCenter 2x ao mês</li>
                    </ul>

                    <button type="button">SELECIONAR</button>
                </div>
                <div class="box-card column">
                    <h3>Semestral<br>(6x de R$ 44,90)</h3>

                    <ul>
                        <li>Frete Grátis</li>
                        <li>Banho e tosa à vontade</li>
                        <li>Atendimento DigitalCenter à vontade</li>
                    </ul>

                    <button type="button">SELECIONAR</button>
                </div>
                <div class="box-card column">
                    <h3>Anual<br>(12x de R$ 39,90)</h3>

                    <ul>
                        <li>Frete Grátis</li>
                        <li>Banho e tosa à vontade</li>
                        <li>Atendimento DigitalCenter à vontade</li>
                        <li>Vacinas anuais</li>
                        <li>Idas ao veterinário à vontade</li>
                        <li>Revista PetFeliz</li>
                    </ul>

                    <button type="button">SELECIONAR</button>
                </div>
            </div>
        </section>

        <section class="receive-news">
            <div class="title-receive-news">
                <img src="/images/others/email.svg" alt="Icone email para receber novidades">
                <span>Receba novidades e promoções</span>
            </div>
            <div class="input-receive-news">
                <input type="text" placeholder="Seu nome" id="news-nome">
                <input type="text" placeholder="Seu nome" id="news-email">
                <button type="button">Eu quero</button>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-mobile">
            <a href="./home.ejs">
                <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
            </a>
            <div class="contacts column">
                <h4 class="text bold">Central de atendimento</h4>
                <span>(xx) x xxxx-xxxx</span>
                <span>contato@digitalpet.com</span>
                <span>Segunda a Sábado das 10h-17h</span>
            </div>
            <div class="page-about">
                <a href="./contact-about.ejs">
                    <span>Sobre nós</span>
                </a>
                <a href="./contact-about.ejs">
                    <span>Contato</span>
                </a>
            </div>

            <div class="column social-media-box">
                <h4 class="text bold">Redes sociais</h4>
                <div class="row">
                    <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                    <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                    <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
                </div>
            </div>

            <div class="box-payment column">
                <h4 class="text bold">Formas de pagamento</h4>
                <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
                <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
            </div>

            
            <div class="box-security column align-center">
                <h4 class="text bold">Segurança</h4>
                <div class="row security-imgs">
                    <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                    <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
                </div>
            </div>

            <div class="column">
                <span>Digital Pet Comércio de Produtos para Animais S.A</span>
                <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
                <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
            </div>
        </section>



        <section class="footer-desktop">
            <div class="row">
                <div class="column left-infos-footer">
                    <a href="./home.ejs">
                        <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
                    </a>
                    <div class="contacts column">
                        <h4 class="text bold">Central de atendimento</h4>
                        <span>(xx) x xxxx-xxxx</span>
                        <span>contato@digitalpet.com</span>
                        <span>Segunda a Sábado das 10h-17h</span>
                    </div>
                    <div class="column left">
                        <span>Digital Pet Comércio de Produtos para Animais S.A</span>
                        <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
                        <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
                    </div>
                </div>

                <div class="page-about">
                    <a href="./contact-about.ejs">
                        <span>Sobre nós</span>
                    </a>
                    <a href="./contact-about.ejs">
                        <span>Contato</span>
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="column desktop-security-pay">
                    <div class="box-payment column">
                        <h4 class="text bold">Formas de pagamento</h4>
                        <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
                        <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
                    </div>
        
                    
                    <div class="box-security column">
                        <h4 class="text bold">Segurança</h4>
                        <div class="row security-imgs">
                            <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                            <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <h4 class="text bold">Redes sociais</h4>
                    <div class="row">
                        <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                        <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                        <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
                    </div>
                </div>
            </div>

        </section>
    </footer>

    <script src="/javascripts/global.js"></script>
</body>
</html>