<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/product-detail.css" rel="stylesheet" type="text/css">
    <title>Produto | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-mobile">
            <div class="row box-logo-mobile">
                <a onclick="toggleMenu()">
                    <img src="/images/header/burguer-menu.svg" alt="Burguer menu">
                </a>
                <a href="/">
                    <img src="/images/header/logo-mobile.svg" alt="Logo digital pet">
                </a>
                                <a href="/carrinho">
                    <img src="/images/header/icone-carrinho-mobile.svg" alt="Imagem carrinho">
                </a>
            </div>
            <input type="text" placeholder="O que você precisa?">
        </section>
        <section class="header-desktop">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
            <input type="text" placeholder="O que você precisa?">
            <div class="links-header-desktop">
                <a href="/minha-conta">
                    <img src="/images/header/icone-pedidos.svg" alt="Ícone minha conta">
                    Minha conta
                </a>
                <a href="/login">
                    Entrar | Cadastrar
                    <img src="/images/header/icone-entrar-desktop.svg" alt="Ícone entrar desktop">
                </a>
            </div>
        </section>
    </header>

    <main>
        <div class="lista-links-mobile">
            <nav class="sidebar">
                <div class="items">
                    <div class="topo-sidebar">
                        <h3>Olá, Bem-Vindo (a)</h3>
                        <a onclick="toggleMenu()">
                            <img src="/images/header/icone-fechar-menu-mobile.svg" alt="Ícone fechar sidebar">
                        </a>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="/login" class="menu-link">
                                <img src="/images/header/icone-entrar-mobile.svg">
                                Entrar/Cadastrar
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/minha-conta" class="menu-link">
                                <img src="/images/header/icone-meu-perfil.svg">
                                Minha Conta
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/carrinho" class="menu-link">
                                <img src="/images/header/icone-carrinho-mobile.svg">
                                Carrinho
                            </a>
                        </li>
                        <!--<li class="menu-item">
                            <a href="" class="menu-link">
                                <img src="/images/header/icone-seu-pet.svg">
                                Seu Pet
                            </a>
                        </li>-->
                        <li class="menu-item">
                            <a href="/planos" class="menu-link">
                                <img src="/images/header/icone-planos.svg">
                                Planos DigitalPet
                            </a>
                        </li>
                        <!--<li class="menu-item">
                            <a href="" class="menu-link">
                                <img src="/images/header/icone-atendimento.svg">
                                Atendimento
                            </a>
                        </li>-->
                    </ul>
                </div>
            </nav>
        </div>
        <section class="links-desktop">
            <a href="/lista-produtos">Cachorro</a>
            <a href="/lista-produtos">Gato</a>
            <a href="/lista-produtos">Outros pets</a>
            <a href="/lista-produtos">Marcas</a>
            <a href="/lista-produtos">Saúde</a>
            <a href="/lista-produtos">Outlet</a>
        </section>

        <section class="product-detail">
            <div class="product-column">
                <img src="/images/products/popular/product-1.svg" alt="Produto">
                <div class="column details">
                    <h1>
                        Ração Premier Pet Raças Específicas Shih Tzu Filhote
                    </h1>
                    <ul>
                        <li>
                            Pelagem bonita e pele saudável através de ácidos graxos essenciais ômegas 3 e 6, biotina e zinco;
                        </li>
                        <li>
                            Saúde intestinal: através da combinação de ingredientes de alta digestibilidade, fibras especiais e prebióticos;
                        </li>
                        <li>
                            Enriquecido com DHA, ômega 3 essencial aos filhotes;
                        </li>
                        <li>
                            Saiba mais abaixo na descrição.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="buttons">
            <span>Selecionar tamanho:</span>
            <div class="row">
                <button class="btn-kg">1 kg</button>
                <button class="btn-kg">2.5 kg</button>
            </div>
            <button class="btn-comprar">Comprar</button>
        </section>

        <section class="products">
            <h2>Produtos Populares</h2>
            <div class="content-products column">
                <a href="/detalhe-produto" class="box-products column">
                    <img src="/images/products/popular/product-1.svg" alt="Produto">
                    <p>Ração Premier Raças Específicas Shih Tzu para Cães Filhotes</p>
                    <strong>R$ 95,90</strong>
                    <span>5x de R$ 19,18 sem juros no cartão de crédito</span>
                </a>
                <a href="/detalhe-produto" class="box-products column">
                    <img src="/images/products/popular/product-2.svg" alt="Produto">
                    <p>Ração Úmida Pedigree Sachê Carne ao Molho para Cães Adultos de Raças Pequenas 100 g</p>
                    <strong>R$ 2,89</strong>
                    <span>1x de R$ 2,89 sem juros no cartão de crédito</span>
                </a>
                <a href="/detalhe-produto" class="box-products column">
                    <img src="/images/products/popular/product-3.svg" alt="Produto">
                    <p>Areia Sanitária Baw Waw Beauty Pet para Gatos 4 kg</p>
                    <strong>R$ 8,99</strong>
                    <span>1x de R$ 8,99 sem juros no cartão de crédito</span>
                </a>
                <a href="/detalhe-produto" class="box-products column">
                    <img src="/images/products/popular/product-4.svg" alt="Produto">
                    <p>Petisco Pedigree Dentastix Cuidado Oral Para Cães Adultos Raças Grandes 7 Unidades</p>
                    <strong>R$ 25,40</strong>
                    <span>2x de R$ 12,70 sem juros no cartão de crédito</span>
                </a>
            </div>
        </section>

        <section class="details-product">
            <h2>Detalhes</h2>
            <p>
                Desenvolvida com ingredientes nobres e alta tecnologia, Premier Raças Específicas oferece benefícios exclusivos que visam minimizar os principais problemas de saúde das raças e auxiliar para o pleno desenvolvimento de suas características típicas desejáveis.     
           </p>
           <p>
                A Ração Premier Pet Raças Específicas Shih Tzu Filhote foi formulada a partir deste conceito e oferece tudo o que esta raça precisa para manter sua saúde e beleza. 
           </p>
           <p>
                Oferece ainda redução do volume e odor de fezes minimizando possíveis inconvenientes de uma convivência tão próxima entre os cães e seus proprietários.
           </p>
        </section>

        <section class="especific">
            <h2>Especificações</h2>
            <div class="list-details-especific">
                <ul>
                    <li>
                        Indicação: cachorros
                    </li>
                    <li>
                        Raça: Shih Tzu
                    </li>
                    <li>
                        Idade: Filhotes
                    </li>
                    <li>
                        Tamanho do Grão: Grão pequeno
                    </li>
                    <li>
                        Linha: Raças Específicas
                    </li>
                    <li>
                        Tipo de Ração: Super Premium
                    </li>
                    <li>
                        Sabor: Frango
                    </li>
                    <li>
                        Transgênico: Sem transgênico
                    </li>
                    <li>
                        Corante: Sem corante
                    </li>
                </ul>
            </div>
            <div class="box-compos">
                <h3>
                    Composição
                </h3>

                <p>
                    Farinha de vísceras de frango, glúten de trigo, proteína isolada de suíno, ovo desidratado, quirera de arroz, gordura de frango, gordura suína, óleo de peixe, polpa de beterraba, ácido propiônico, antioxidantes BHA e BHT (0,012%), cloreto de potássio, cloreto de sódio, extrato de yucca (0,06%), frutoligossacarídeos (0,1%), hexametafosfato de sódio, hidrolisado de suíno e frango, levedura seca de cervejaria, mananoligossacarídeos (0,2%), parede celular de levedura, sulfato de condroitina, sulfato de glicosamina, vitamina A, vitamina B12, vitamina C, vitamina D3, vitamina E, vitamina K3, ácido fólico, ácido pantotênico, biotina, cloreto de colina, niacina, piridoxina, riboflavina, tiamina, cobre aminoácido quelato, ferro aminoácido quelato, iodeto de potássio, manganês aminoácido quelato, proteinato de selênio, sulfato de cobre, sulfato de ferro, sulfato de manganês, sulfato de zinco, zinco aminoácido quelato.
                </p>
            </div>
            <div class="box-normal">
                <h3>
                    Níveis de garantia
                </h3>
    
                <ul>
                    <li>Umidade (máx.) 100 g/kg	10,00 %</li>
                    <li>Proteína Bruta (mín.) 280 g/kg 28,00 %</li>
                    <li>Extrato Etéreo (mín.) 180 g/kg 18,00 %</li>
                    <li>Matéria Mineral (máx.) 70 g/kg 7,00 %</li>
                    <li>Matéria Fibrosa (máx.) 35 g/kg 3,50 %</li>
                    <li>Cálcio (máx.) 14 g/kg 1,40 %</li>
                    <li>Cálcio (mín.) 9.000 mg/kg 0,90 %</li>
                    <li>Fósforo (mín.) 8.000 mg/kg 0,80 %</li>
                    <li>Sódio (mín.) 2.000 mg/kg 0,20 %</li>
                    <li>Potássio (mín.) 5.000 mg/kg 0,50 %</li>
                    <li>Ômega 6 (mín.) 32 g/kg 3,20 %</li>
                    <li>Ômega 3 (mín.) 4.000 mg/kg 0,40 %</li>
                    <li>DHA (mín.) 1.000 mg/kg 0,10 %</li>
                    <li>Energia Metabolizável 4.106 kcal/kg</li>
                </ul>
            </div>
            <div class="box-normal">                
                <h3>
                    Enriquecimento por Kg
                </h3>
                <ul>
                    <li>Ácido Fólico 2,08 mg</li>
                    <li>Ácido Pantotênico 42,67 mg</li>
                    <li>Biotina 5,00 mg</li>
                    <li>Cobre 20,00 mg</li>
                    <li>Colina 400,00 mg</li>
                    <li>Ferro 88,00 mg</li>
                    <li>Iodo 1,41 mg</li>
                    <li>Manganês 35,20 mg</li>
                    <li>Niacina 64,00 mg</li>
                    <li>Selênio 0,06 mg</li>
                    <li>Vitamina A 24.000 UI</li>
                    <li>Vitamina B1 16,60 mg</li>
                    <li>Vitamina B12 220,00 mcg</li>
                    <li>Vitamina B2	28,00 mg</li>
                    <li>Vitamina B6 9,90 mg</li>
                    <li>Vitamina C 200,00 mg</li>
                    <li>Vitamina D3 1.600 UI</li>
                    <li>Vitamina E 400,00 UI</li>
                </ul>
            </div>

            <div class="box-normal">
                <h3>
                    Quantidade recomendada
                </h3>
                <ul>
                    <li>
                        2 a 3 meses: 67 g/dia
                    </li>
                    <li>
                        4 a 5 meses: 98 g/dia
                    </li>
                    <li>
                        6 a 8 meses: 115 g/dia
                    </li>
                    <li>
                        9 a 10 meses: 126 g/dia
                    </li>
                    <li>
                        11 a 12 meses: 125 g/dia
                    </li>
                </ul>
            </div>

            <div class="box-normal">
                <h4>
                    Apresentação: 1kg e 2,5kg
                </h4>
                <h4>
                    Marca: Premier, Premier Super Premium
                </h4>
            </div>
        </section>

        <section class="receive-news">
            <div class="title-receive-news">
                <img src="/images/others/email.svg" alt="Icone email para receber novidades">
                <span>Receba novidades e promoções</span>
            </div>
            <div class="input-receive-news">
                <input type="text" placeholder="Seu nome" id="news-nome">
                <input type="text" placeholder="Seu nome" id="news-email">
                <button type="button">Eu quero</button>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-mobile">
            <a href="/">
                <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
            </a>
            <div class="contacts column">
                <h4 class="text bold">Central de atendimento</h4>
                <span>(xx) x xxxx-xxxx</span>
                <span>contato@digitalpet.com</span>
                <span>Segunda a Sábado das 10h-17h</span>
            </div>
            <div class="page-about">
                <a href="/contato-sobre-nos">
                    <span>Sobre nós</span>
                </a>
                <a href="/contato-sobre-nos">
                    <span>Contato</span>
                </a>
            </div>

            <div class="column social-media-box">
                <h4 class="text bold">Redes sociais</h4>
                <div class="row">
                    <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                    <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                    <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
                </div>
            </div>

            <div class="box-payment column">
                <h4 class="text bold">Formas de pagamento</h4>
                <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
                <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
            </div>

            
            <div class="box-security column align-center">
                <h4 class="text bold">Segurança</h4>
                <div class="row security-imgs">
                    <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                    <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
                </div>
            </div>

            <div class="column">
                <span>Digital Pet Comércio de Produtos para Animais S.A</span>
                <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
                <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
            </div>
        </section>



        <section class="footer-desktop">
            <div class="row">
                <div class="column left-infos-footer">
                    <a href="/">
                        <img class="logo" src="/images/header/logo-mobile.svg" alt="Logo digital pet">
                    </a>
                    <div class="contacts column">
                        <h4 class="text bold">Central de atendimento</h4>
                        <span>(xx) x xxxx-xxxx</span>
                        <span>contato@digitalpet.com</span>
                        <span>Segunda a Sábado das 10h-17h</span>
                    </div>
                    <div class="column left">
                        <span>Digital Pet Comércio de Produtos para Animais S.A</span>
                        <span>CNPJ: xx.xxx.xxx/xxxx-xx</span>
                        <span>Av. Norte xxxx, Recife - PE, 52.051-000, Brasil</span>
                    </div>
                </div>

                <div class="page-about">
                    <a href="/contato-sobre-nos">
                        <span>Sobre nós</span>
                    </a>
                    <a href="/contato-sobre-nos">
                        <span>Contato</span>
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="column desktop-security-pay">
                    <div class="box-payment column">
                        <h4 class="text bold">Formas de pagamento</h4>
                        <img src="/images/footer/payment-options-1.svg" alt="Forma de pagamento (Bandeiras)">
                        <img src="/images/footer/payment-options-2.svg" alt="Forma de pagamento (Bandeiras)">
                    </div>
        
                    
                    <div class="box-security column">
                        <h4 class="text bold">Segurança</h4>
                        <div class="row security-imgs">
                            <img src="/images/footer/security-google.svg" alt="Selo de Segurança Google">
                            <img src="/images/footer/security-site.svg" alt="Selo de Segurança Site">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <h4 class="text bold">Redes sociais</h4>
                    <div class="row">
                        <img src="/images/footer/icone-instagram.svg" alt="Ícone instagram">
                        <img src="/images/footer/icone-facebook.svg" alt="Ícone facebook">
                        <img src="/images/footer/icone-twitter.svg" alt="Ícone twitter">
                    </div>
                </div>
            </div>

        </section>
    </footer>
    <script src="/javascripts/product-detail.js"></script>
</body>
</html>