<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/register.css" rel="stylesheet" type="text/css">
    <title>Cadastro | Digital Pet</title>
</head>
<body>
    <header>
        <section class="header-cadastro">
            <a href="./home.ejs">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <div class="box-form">
            <form method="post" class="column">
                <label for="email">E-mail*</label>
                <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
                <span id="errors-email" class="error"></span>

                <label for="name">Nome*</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">
                <span id="errors-name" class="error"></span>

                <label for="last-name">Sobrenome*</label>
                <input type="text" name="last-name" id="last-name" placeholder="Digite seu sobrenome">
                <span id="errors-last-name" class="error"></span>

                <label for="CPF">CPF*</label>
                <input type="CPF" name="CPF" id="CPF" placeholder="Digite seu CPF">
                <span id="errors-CPF" class="error"></span>

                <label for="celular">Celular*</label>
                <input type="tel" name="celular" id="celular" placeholder="Digite seu celular">
                <span id="errors-celular" class="error"></span>

                <label for="password">Crie uma senha</label>
                <input type="password" name="password" id="password" placeholder="Crie sua senha">
                <div id="errors-password">
                    <span id="erros-password-span">A senha deve conter:</span>
                    <ul>
                        <li>8 caracteres no mínimo;</li>
                        <li>1 Letra Maiúscula no mínimo;</li>
                        <li>1 Número no mínimo;</li>
                        <li>1 Símbolo no mínimo: $*&@#"</li>
                    </ul>
                </div>

                <label for="confirm-password">Confirme a sua senha</label>
                <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirme a sua senha">
                <span id="errors-confirm-password" class="error"></span>

                <button type="submit">Criar conta</button>
                <button type="button" class="btn-go-back">Voltar</button>
                
                <p class="info">
                    Ao criar uma conta, você concorda com os Termos e Condições de Uso da Petlove. Para saber como tratamos os seus dados pessoais, acesse o nosso Aviso de Privacidade.
                </p>
            </form>
        </div>
    </main>

    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/register.js"></script>
</body>
</html>