:root {
    --background: #F4F0EB;
    --text: #151616;
    --link: #797575;
    --white: #fff;
    --button: #893B67;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    color: var(--text);
    background: var(--background);
    font-size: 40px;
}

a{
    text-decoration: none;
    color: var(--link);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    transition: filter 0.8s;
}

a img{
    transition: filter 0.8s;
    cursor: pointer;
}

a:hover{
    filter: brightness(0.4);
}

a img:hover{
    filter: brightness(0.6); 
}

ul {
    list-style: none;
}

span, p, h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.row {
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.left{
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.title {
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.subtitle{
    color: var(--text);
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
}

.text{
    color: var(--text);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.button-text{
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.bold{
    font-weight: bold;
}

.border-error{
    border: 1px solid red;
}

.header-mobile{
    padding: 20px;
    background: #FAF0E2;
}

.header-mobile input, .header-desktop input{
    height: 55px;
    background: transparent;
    width: 100%;
    text-align: center;
    border: 1px solid #703A44;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--text);
    background-image: url("/images/header/lupa-input.svg");
    background-repeat: no-repeat;
    background-position: 12px;
}

.header-desktop input{
    width: 440px;
}

.header-mobile input::placeholder{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--text);
}

.box-logo-mobile{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shipping{
    background: #F3DAB4;
    text-align: center;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipping span{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}

.lista-links-mobile{
    height: 100vh;
    background: var(--background);
    display: none;
}

.sidebar{
    width: 100%;
    padding: 20px;
}

.sidebar-open{
    display: flex;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    width: 100%;
}

.topo-sidebar{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menu-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-link img{
    margin-right: 20px;
}


.footer-mobile, .footer-desktop{
    background: #F3DAB4;
    display: flex;
}

.footer-mobile{
    flex-direction: column;
    padding: 0 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

.footer-desktop {
    padding: 40px;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    margin-bottom: 20px;
}

.contacts{
    text-align: center;
    margin-bottom: 50px;
}

.footer-mobile h4, .footer-desktop h4{
    margin-bottom: 10px;
}

.footer-mobile span, .footer-desktop span{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.page-about{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.box-payment img:first-of-type{
    margin-bottom: 10px;
}

.box-security {
    margin-bottom: 30px;
}

.box-payment {
    margin-bottom: 30px;
}

.social-media-box{
    margin-bottom: 20px;
}

.security-imgs{
    gap: 15px;
}

.receive-news{
    background: var(--button);
    padding: 20px;
}

.title-receive-news{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.title-receive-news span {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

.input-receive-news{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-receive-news input{
    max-width: 260px;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--text);
}

.input-receive-news input::placeholder{
    font-size: 14px;
    line-height: 19px;
    color: var(--text);
}

.input-receive-news input[type="submit"]{
    border: none;
    height: 45px;
    width: 100px;

    background: var(--white);

    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: var(--button);

    transition: all .8s;
    cursor: pointer;
}

.input-receive-news input[type="submit"]:active{
    filter: brightness(0.8);
}

.input-receive-news input[type="submit"]:hover{
    filter: brightness(0.8);
}

.header-desktop{
    display: none;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.links-header-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.links-desktop{
    height: 50px;
    background: var(--button);
    padding: 0 40px;

    display: none;
    align-items: center;
    justify-content: center;
}

.links-desktop a {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.footer-desktop {
    display: none;
}

.left-infos-footer{
    align-items: center;
}

.space{
    justify-content: space-between;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--background);
}

.container:hover input ~ .checkmark {
    background-color: var(--background);
    filter: brightness(0.7);
}

.container input:checked ~ .checkmark {
    background-color: var(--button);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@keyframes sidebar-open {
    from {
       left: -100%;
    }
    to {
        left: 0%;
    }
}

@media screen and (min-width: 769px) {
    .receive-news{
        padding: 20px 40px;
    }

    .receive-news{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title-receive-news{
        margin-bottom: 0;
        margin-right: 10px;
    }

    .input-receive-news{
        flex-direction: row;
    }

    .header-mobile{
        display: none;
    }

    .header-desktop{
        display: flex;
    }

    .links-desktop {
        display: flex;
    }

    .footer-mobile{
        display: none;
    }

    .footer-desktop{
        display: flex;
    }

    .page-about{
        align-items: flex-start;
    }

    .desktop-security-pay{
        margin: 0 20px 0 20px;
    }

    .social-media-box{
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1280px) {
    .header-desktop{
        flex-direction: row;
    }
}

@media (min-width: 1081px){
    h1, h2, h3, h4, h5, h6, span, p{
        font-size: 100%;
    }
}

@media (max-width: 1080px){
    h1, h2, h3, h4, h5, h6, span, p{
        font-size: 93.75%;
    }
}


@media (max-width: 720px){
    h1, h2, h3, h4, h5, h6, span, p{
        font-size: 87.5%;
    }
}
