main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

h1{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.box-card{
    max-width: 700px;
    min-width: 250px;
    background: #F3DAB4;
    border-radius: 12px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box-card img{
    width: 85%;
}

.box-card h3{
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
}

.box-card ul {
    margin-left: 20px;
    list-style: disc;
}

.box-card ul li{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.box-card ul li:first-child{
    margin-bottom: 10px;
}

@media screen and (min-width: 481px) {
    .box-card{
        padding: 40px;
        width: 450px;
    }

    .box-card img{
        width: unset;
    }

    .box-card h3{
        width: 70%;
    }
}

@media screen and (min-width: 769px) {
    .box-card{
        width: 750px;
    }
}