.banner{
    background-repeat: no-repeat;
    height: 37.5vw;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-image: url('/images/home/banner-carrosel.svg');
}

.box-search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-search input{
    height: 55px;
    background: transparent;
    width: 100%;
    text-align: center;
    border: 1px solid #703A44;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--text);
    background-image: url(/images/header/lupa-input.svg);
    background-repeat: no-repeat;
    background-position: 12px;
    max-width: 440px;
}