:root {
    --background: #F4F0EB;
    --text: #151616;
    --link: #797575;
    --white: #fff;
    --button: #893B67;
}

.header-cadastro{
    background: #FAF0E2;
    text-align: center;
}

main{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.box-form{
    margin-top: 40px;
    padding: 20px;
    max-width: 1120px;
    background: #F3DAB4;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

form {
    max-width: 450px;
}

label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    padding: 15px 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    border: none;
    width: 100%;
}

input::placeholder{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

button[type=submit]{
    background: var(--button);
    border: 1px solid #000000;

    height: 50px;
    transition: filter 0.8s;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;

    cursor: pointer;

    margin-bottom: 20px;
    margin-top: 20px;
}

button[type=submit]:hover{
    filter: brightness(0.8);
}

.btn-go-back{
    background: var(--background);
    border: 1px solid #000000;

    height: 50px;
    transition: filter 0.8s;

    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    cursor: pointer;

    margin-bottom: 20px;
}

.btn-go-back:hover{
    filter: brightness(0.8);
}

.info{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #000000;
    margin-top: 20px;
}

.error {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: red;
    margin-bottom: 10px;
}

#errors-password, #erros-password-span{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: red;
    margin-bottom: 10px;
}

#errors-password{
    display: none;
}

#errors-password ul{
    list-style: disc;
    margin-left: 25px;
}